<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <h1>Listing for LighthouseStatistics</h1>

    <f:flashMessages />

    <table  class="tx_sfseolighthouse" >
        <tr>
            <th><f:translate key="tx_sfseolighthouse_domain_model_lighthousestatistics.targetId" /></th>
            <th><f:translate key="tx_sfseolighthouse_domain_model_lighthousestatistics.fcp" /></th>
            <th><f:translate key="tx_sfseolighthouse_domain_model_lighthousestatistics.si" /></th>
            <th><f:translate key="tx_sfseolighthouse_domain_model_lighthousestatistics.lcp" /></th>
            <th><f:translate key="tx_sfseolighthouse_domain_model_lighthousestatistics.tti" /></th>
            <th><f:translate key="tx_sfseolighthouse_domain_model_lighthousestatistics.tbt" /></th>
            <th><f:translate key="tx_sfseolighthouse_domain_model_lighthousestatistics.cls" /></th>
            <th><f:translate key="tx_sfseolighthouse_domain_model_lighthousestatistics.os" /></th>
            <th><f:translate key="tx_sfseolighthouse_domain_model_lighthousestatistics.device" /></th>
            <th> </th>
            <th> </th>
        </tr>

        <f:for each="{lighthouseStatisticss}" as="lighthouseStatistics">
            <tr>
                <td><f:link.action action="show" arguments="{lighthouseStatistics : lighthouseStatistics}">{lighthouseStatistics.targetId}</f:link.action></td>
                <td><f:link.action action="show" arguments="{lighthouseStatistics : lighthouseStatistics}">{lighthouseStatistics.fcp}</f:link.action></td>
                <td><f:link.action action="show" arguments="{lighthouseStatistics : lighthouseStatistics}">{lighthouseStatistics.si}</f:link.action></td>
                <td><f:link.action action="show" arguments="{lighthouseStatistics : lighthouseStatistics}">{lighthouseStatistics.lcp}</f:link.action></td>
                <td><f:link.action action="show" arguments="{lighthouseStatistics : lighthouseStatistics}">{lighthouseStatistics.tti}</f:link.action></td>
                <td><f:link.action action="show" arguments="{lighthouseStatistics : lighthouseStatistics}">{lighthouseStatistics.tbt}</f:link.action></td>
                <td><f:link.action action="show" arguments="{lighthouseStatistics : lighthouseStatistics}">{lighthouseStatistics.cls}</f:link.action></td>
                <td><f:link.action action="show" arguments="{lighthouseStatistics : lighthouseStatistics}">{lighthouseStatistics.os}</f:link.action></td>
                <td><f:link.action action="show" arguments="{lighthouseStatistics : lighthouseStatistics}">{lighthouseStatistics.device}</f:link.action></td>
                <td><f:link.action action="edit" arguments="{lighthouseStatistics : lighthouseStatistics}">Edit</f:link.action></td>
                <td><f:link.action action="delete" arguments="{lighthouseStatistics : lighthouseStatistics}">Delete</f:link.action></td>
            </tr>
        </f:for>
    </table>

    <!--f:link.action action="new">New LighthouseStatistics</f:link.action-->
</f:section>
</html>
