<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:form.textfield type="hidden" property="target" id="target" />
<f:form.textfield type="hidden" property="acs" id="acs" />
<f:form.textfield type="hidden" property="bps" id="bps" />
<f:form.textfield type="hidden" property="pes" id="pes" />
<f:form.textfield type="hidden" property="pwas" id="pwas" />
<f:form.textfield type="hidden" property="seos" id="seos" />
<f:form.textfield type="hidden" property="fcp" id="fcp" />
<f:form.textfield type="hidden" property="si" id="si" />
<f:form.textfield type="hidden" property="lcp" id="lcp" />
<f:form.textfield type="hidden" property="tti" id="tti" />
<f:form.textfield type="hidden" property="tbt" id="tbt" />
<f:form.textfield type="hidden" property="cls" id="cls" />
<f:form.textfield type="hidden" property="fcps" id="fcps" />
<f:form.textfield type="hidden" property="sis" id="sis" />
<f:form.textfield type="hidden" property="lcps" id="lcps" />
<f:form.textfield type="hidden" property="ttis" id="ttis" />
<f:form.textfield type="hidden" property="tbts" id="tbts" />
<f:form.textfield type="hidden" property="clss" id="clss" />
<f:form.textfield type="hidden" property="device" id="device" />
</html>