<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true"></html>
<div class="progressBar progress-bar-animated">
    <span class="counterContainer">
        <span class="counterAmount" data-width="0%"></span>
        <span class="counterTitle">
        <span class="statusMessage">
            <f:translate key="tx_sf_seolighthouse_showlighthouse.status"/>
        </span>
        <span class="progressMessage">
            <f:translate key="tx_sf_seolighthouse_showlighthouse.progress"/>
        </span>
        <span class="errorMessage">
            <f:translate key="tx_sf_seolighthouse_showlighthouse.error"/>
        </span>
        <span class="successMessage">
            <f:translate key="tx_sf_seolighthouse_showlighthouse.success"/>
        </span>
        </span>
    </span>
</div>
</html>