<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<ul class="list-lighthouse list-group list-group-flush">
		<li class="list-group-item" id="fcp">
			<span class="label">
				<f:translate key="tx_sfseolighthouse_domain_model_lighthousestatistics.fcp" />
				<f:form.textfield property="fcp" type="hidden"/>
			</span>
			<span class="value"></span>
		</li>
		<li class="list-group-item" id="si">
			<span class="label" >
				<f:translate key="tx_sfseolighthouse_domain_model_lighthousestatistics.si" />
				<f:form.textfield property="si" type="hidden"/>
			</span>
			<span class="value"></span>
		</li>
		<li class="list-group-item" id="lcp">
			<span class="label">
				<f:translate key="tx_sfseolighthouse_domain_model_lighthousestatistics.lcp" />
				<f:form.textfield property="lcp" type="hidden"/>
			</span>
			<span class="value"></span>
		</li>
		<li class="list-group-item" id="tti">
			<span class="label">
				<f:translate key="tx_sfseolighthouse_domain_model_lighthousestatistics.tti" />
				<f:form.textfield property="tti" type="hidden"/>
			</span>
			<span class="value"></span>
		</li>
		<li class="list-group-item" id="tbt">
			<span class="label">
				<f:translate key="tx_sfseolighthouse_domain_model_lighthousestatistics.tbt" />
				<f:form.textfield property="tbt" type="hidden"/>
			</span>
			<span class="value"></span>
		</li>
		<li class="list-group-item" id="cls">
			<span class="label">
				<f:translate key="tx_sfseolighthouse_domain_model_lighthousestatistics.cls" />
				<f:form.textfield property="cls" type="hidden"/>
			</span>
			<span class="value"></span>
		</li>
	</ul>
</html>