<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<div class="row overallCharts">
		<div class="col-md-2">
			<canvas id="overallChartAccessibilty" class="lighthouseCharts"></canvas>
		</div>
		<div class="col-md-2">	
			<canvas id="overallChartBestPractices" class="lighthouseCharts"></canvas>
		</div>
		<div class="col-md-2">	
			<canvas id="overallChartPerformance" class="lighthouseCharts"></canvas>
		</div>
		<div class="col-md-2">	
			<canvas id="overallChartPwa" class="lighthouseCharts"></canvas>
		</div>
		<div class="col-md-2">	
			<canvas id="overallChartSeo" class="lighthouseCharts"></canvas>
		</div>
	</div>
	<div class="row audits">
		<div class="col-md-6 category">
			<h2><f:translate key="tx_sf_seolighthouse_showlighthouse.auditsHeadline"/></h2>
			<ul class="list-lighthouse list-header list-group">
				<li class="list-group-item">
					<span class="label">
						<f:translate key="tx_sf_seolighthouse_showlighthouse.analyseHeader.name"/>
					</span>
					<span class="value">
						
					</span>
					<span class="score">
						<f:translate key="tx_sf_seolighthouse_showlighthouse.analyseHeader.score"/>
					</span>
				</li>
			</ul>
			<div class="list-audits"></div>
			<div class="auditButtons">
				<f:form.submit value="{f:translate(key: 'tx_sf_seolighthouse_showlighthouse.createNew')}" class="btn btn-default saveCharts"/>
				<a class="btn btn-primary" id="showAdditionalAudits">
					<f:translate key="tx_sf_seolighthouse_showlighthouse.showAdditionalAudits"/>
				</a>
			</div>
		</div>
		<div class="col-md-6 performance">
			<h2><f:translate key="tx_sf_seolighthouse_showlighthouse.performanceHeadline"/></h2>
			<span class="performanceMenu">
				<a id="showPerformanceAuditList" title="{f:translate(key: 'tx_sf_seolighthouse_showlighthouse.showPerformanceAuditList')}">
					<core:icon identifier="content-listgroup" size="small" />
				</a>
				<a id="showPerformanceAuditCharts" title="{f:translate(key: 'tx_sf_seolighthouse_showlighthouse.showPerformanceAuditCharts')}">
					<core:icon identifier="content-widget-chart-bar" size="small" />
				</a>
			</span>
			<div class="performanceAudits performanceAuditList">
				<ul class="list-lighthouse list-header list-group">
					<li class="list-group-item">
						<span class="label">
							<f:translate key="tx_sf_seolighthouse_showlighthouse.analyseHeader.name"/>
						</span>
						<span class="value">
							<f:translate key="tx_sf_seolighthouse_showlighthouse.analyseHeader.value"/>
						</span>
						<span class="score">
							<f:translate key="tx_sf_seolighthouse_showlighthouse.analyseHeader.score"/>
						</span>
					</li>
				</ul>
				<div class="list-performance-audits">

				</div>
			</div>
		</div>
		<div class="col-md-6 performanceAudits performanceAuditCharts">
			<canvas id="performanceAuditsChart" class="lighthouseCharts"></canvas>
		</div>
	</div>
	<div class="row additionalAudits">
		<div class="col-md-12">
			<h2><f:translate key="tx_sf_seolighthouse_showlighthouse.additionalAudits"/></h2>
			<div class="list-Addtional-Audits">
				
			</div>
		</div>
	</div>
</html>