<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-sf-seolighthouse" >
	<tr>
		<td>
			<f:translate key="tx_sfseolighthouse_domain_model_lighthousestatistics.fcp" />
		</td>
		<td>
			{lighthouseStatistics.fcp}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sfseolighthouse_domain_model_lighthousestatistics.si" />
		</td>
		<td>
			{lighthouseStatistics.si}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sfseolighthouse_domain_model_lighthousestatistics.lcp" />
		</td>
		<td>
			{lighthouseStatistics.lcp}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sfseolighthouse_domain_model_lighthousestatistics.tti" />
		</td>
		<td>
			{lighthouseStatistics.tti}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sfseolighthouse_domain_model_lighthousestatistics.tbt" />
		</td>
		<td>
			{lighthouseStatistics.tbt}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sfseolighthouse_domain_model_lighthousestatistics.cls" />
		</td>
		<td>
			{lighthouseStatistics.cls}
		</td>
	</tr>
</table>
</html>