<html 
xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
xmlns:sf="http://typo3.org/ns/Stackfactory/SfSeolighthouse/ViewHelpers" 
data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="content">

    <f:be.pageRenderer pageTitle="<f:translate key='tx_sfseolighthouse_domain_model_lighthousestatistics.page.title.analyse' />" 
      includeCssFiles="{0: '{f:uri.resource(path:\'StyleSheet/request.css\')}'}"
      includeJsFiles="{0: '{f:uri.resource(path:\'JavaScript/runtime.js\')}',
                       1: '{f:uri.resource(path:\'JavaScript/request.js\')}'}"/>
    <f:flashMessages />
    
    <div class="tx_sfseolighthouse container-fluid">
        <f:render partial="LighthouseStatistics/AnalyseFormPreselection" arguments="{_all}"/>
        <div class="row">
            <div class="col-md-9">
                <f:render partial="FormErrors" />
                <f:form id="{pageId}" action="create" class="newLighthouseStatistics container-fluid" name="newLighthouseStatistics" object="{newLighthouseStatistics}">
                    <f:render partial="LighthouseStatistics/AnalyseFormFieldsHidden" arguments="{_all}"/>
                    <f:render partial="LighthouseStatistics/AnalyseLighthouseOutput" arguments="{_all}"/>
                </f:form>
            </div>
        </div>
    </div>
</f:section>
</html>
  	<!--f:link.action action="new">New LighthouseStatistics</f:link.action-->
