<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
  <h1>Listing for LighthouseStatistics</h1>

  <f:flashMessages />
<f:debug>{lighthouseStatistics}</f:debug>
  <div class="tx_sfseolighthouse container-fluid" >
      <div class="row">
          <div class="col-md-1"><b><f:translate key="tx_sfseolighthouse_domain_model_lighthousestatistics.crdate" /></b></div>
          <div class="col-md-1"><b><f:translate key="tx_sfseolighthouse_domain_model_lighthousestatistics.target" /></b></div>
          <div class="col-md-1" title="<f:translate key='tx_sfseolighthouse_domain_model_lighthousestatistics.fcp' />"><b>FCP</b></div>
          <div class="col-md-1" title="<f:translate key='tx_sfseolighthouse_domain_model_lighthousestatistics.si' />"><b>SI</b></div>
          <div class="col-md-1" title="<f:translate key='tx_sfseolighthouse_domain_model_lighthousestatistics.lcp' />"><b>LCP</b></div>
          <div class="col-md-1" title="<f:translate key='tx_sfseolighthouse_domain_model_lighthousestatistics.tti' />"><b>TTI</b></div>
          <div class="col-md-1" title="<f:translate key='tx_sfseolighthouse_domain_model_lighthousestatistics.tbt' />"><b>TBT</b></div>
          <div class="col-md-1" title="<f:translate key='tx_sfseolighthouse_domain_model_lighthousestatistics.cls' />"><b>CLS</b></div>
          <div class="col-md-1"><b><f:translate key='tx_sfseolighthouse_domain_model_lighthousestatistics.device' /></b></div>
     </div>

      <f:for each="{lighthouseStatistics}" as="lighthouseStatistics">
        <div class="row">
              <div class="col-md-1"><f:link.action action="show" arguments="{lighthouseStatistics : lighthouseStatistics}"><f:format.date format="d.m.Y - H:i">{lighthouseStatistics.crdate}</f:format.date></f:link.action></div>
              <div class="col-md-1"><f:link.action action="show" arguments="{lighthouseStatistics : lighthouseStatistics}">{lighthouseStatistics.target}</f:link.action></div>
              <div class="col-md-1"><f:link.action action="show" arguments="{lighthouseStatistics : lighthouseStatistics}">{lighthouseStatistics.fcp}</f:link.action></div>
              <div class="col-md-1"><f:link.action action="show" arguments="{lighthouseStatistics : lighthouseStatistics}">{lighthouseStatistics.si}</f:link.action></div>
              <div class="col-md-1"><f:link.action action="show" arguments="{lighthouseStatistics : lighthouseStatistics}">{lighthouseStatistics.lcp}</f:link.action></div>
              <div class="col-md-1"><f:link.action action="show" arguments="{lighthouseStatistics : lighthouseStatistics}">{lighthouseStatistics.tti}</f:link.action></div>
              <div class="col-md-1"><f:link.action action="show" arguments="{lighthouseStatistics : lighthouseStatistics}">{lighthouseStatistics.tbt}</f:link.action></div>
              <div class="col-md-1"><f:link.action action="show" arguments="{lighthouseStatistics : lighthouseStatistics}">{lighthouseStatistics.cls}</f:link.action></div>
              <div class="col-md-1"><f:link.action action="show" arguments="{lighthouseStatistics : lighthouseStatistics}">{lighthouseStatistics.device}</f:link.action></div>
              <div class="col-md-1"><f:link.action action="edit" arguments="{lighthouseStatistics : lighthouseStatistics}">Edit</f:link.action></div>
              <div class="col-md-1"><f:link.action action="delete" arguments="{lighthouseStatistics : lighthouseStatistics}">Delete</f:link.action></div>
        </div>
      </f:for>
  </table>

</f:section>
</html>
  	<!--f:link.action action="new">New LighthouseStatistics</f:link.action-->