<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Backend:
        Templates:
          LighthouseStatistics:
            List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder
<f:be.container 
    includeJsFiles = "{0: 'https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js'}, 1:'{f:uri.resource(path: \'js/script2.js\')}'}" >
  <!-- Content -->
</f:be.container>

<f:section name="content">
    <h1>Listing for LighthouseStatistics</h1>

    <f:flashMessages />
    <f:if condition="{storagePid}=={data.uid}">
      <f:then>
        <table class="tx_sfseolighthouse" >
            <tr>
                <th><f:translate key="tx_sfseolighthouse_domain_model_lighthousestatistics.fcp" /></th>
                <th><f:translate key="tx_sfseolighthouse_domain_model_lighthousestatistics.si" /></th>
                <th><f:translate key="tx_sfseolighthouse_domain_model_lighthousestatistics.lcp" /></th>
                <th><f:translate key="tx_sfseolighthouse_domain_model_lighthousestatistics.tti" /></th>
                <th><f:translate key="tx_sfseolighthouse_domain_model_lighthousestatistics.tbt" /></th>
                <th><f:translate key="tx_sfseolighthouse_domain_model_lighthousestatistics.cls" /></th>
                <th> </th>
                <th> </th>
            </tr>

            <f:for each="{lighthouseStatisticss}" as="lighthouseStatistics">
                <tr>
                    <td><f:link.action action="show" arguments="{lighthouseStatistics : lighthouseStatistics}"> {lighthouseStatistics.fcp}</f:link.action></td>
                    <td><f:link.action action="show" arguments="{lighthouseStatistics : lighthouseStatistics}"> {lighthouseStatistics.si}</f:link.action></td>
                    <td><f:link.action action="show" arguments="{lighthouseStatistics : lighthouseStatistics}"> {lighthouseStatistics.lcp}</f:link.action></td>
                    <td><f:link.action action="show" arguments="{lighthouseStatistics : lighthouseStatistics}"> {lighthouseStatistics.tti}</f:link.action></td>
                    <td><f:link.action action="show" arguments="{lighthouseStatistics : lighthouseStatistics}"> {lighthouseStatistics.tbt}</f:link.action></td>
                    <td><f:link.action action="show" arguments="{lighthouseStatistics : lighthouseStatistics}"> {lighthouseStatistics.cls}</f:link.action></td>
                    <td><f:link.action action="edit" arguments="{lighthouseStatistics : lighthouseStatistics}">Edit</f:link.action></td>
                    <td><f:link.action action="delete" arguments="{lighthouseStatistics : lighthouseStatistics}">Delete</f:link.action></td>
                </tr>
            </f:for>
        </table>
      </f:then>
      <f:else>
        <h2><f:translate key="tx_sf_seolighthouse_showlighthouse.name"/></h2>
        <form object="{sfseolighthouse}" objectName="analyse" class="form container-fluid">
          <div class="row">
            <div class="col-md-12">
              <label class="custom-control-label">
                <f:translate key="tx_sf_seolighthouse_showlighthouse.url"/>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
                <div class="custom-control custom-radio" >
                  <f:form.radio property="device" id="device1" class="custom-control-input" value="{f:translate(key: 'tx_sf_seolighthouse_showlighthouse.formDesktop')}" />
                  <label class="custom-control-label" for="device1">
                      <f:translate key="tx_sf_seolighthouse_showlighthouse.formDesktop" />
                  </label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="custom-control custom-radio" >
                  <f:form.radio property="device" id="device2" class="custom-control-input" value="{f:translate(key: 'tx_sf_seolighthouse_showlighthouse.formMobile')}" />
                  <label class="custom-control-label" for="device2">
                    <f:translate key="tx_sf_seolighthouse_showlighthouse.formMobile" />
                  </label>
                </div>
            </div>
          </div>
          <f:form.submit value="{f:translate(key: 'tx_sf_seolighthouse_showlighthouse.formSubmit')}" class="btn btn-default"/>
        </form>
      </f:else>
    </f:if>
  	<!--f:link.action action="new">New LighthouseStatistics</f:link.action-->
    
</f:section>
</html>
