<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true"></html>
<div class="col-md-3">
    <h4>
        <f:translate key="tx_sf_seolighthouse_showlighthouse.chartsValueType" />
    </h4>
    <div class="container-fluid container-control">
        <div class="row">
            <div class="col-md-6">
                <div class="custom-control custom-radio">
                    <f:form.radio name="valueType-select" id="valueType-select1" class="custom-control valueType-select" value="value" checked="checked"/>
                    <label class="custom-control-label btn btn-primary active" for="valueType-select1">
                        <f:translate key="tx_sf_seolighthouse_showlighthouse.chartsValueType.absolute" />
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="custom-control custom-radio">
                    <f:form.radio name="valueType-select" id="valueType-select2" class="custom-control valueType-select" value="score" />
                    <label class="custom-control-label btn btn-primary" for="valueType-select2">
                        <f:translate key="tx_sf_seolighthouse_showlighthouse.chartsValueType.score" />
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
</html>