<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true"></html>
<div class="col-md-3">
    <h4><f:translate key="tx_sfseolighthouse_domain_model_lighthousestatistics.device" /></h4>
    <select id="period-select" class="custom-control custom-select">
        <option value="day"><f:translate key="tx_sf_seolighthouse_showlighthouse.chartsType.day" /></option>
        <option value="week"><f:translate key="tx_sf_seolighthouse_showlighthouse.chartsType.week" /></option>
        <option value="month"><f:translate key="tx_sf_seolighthouse_showlighthouse.chartsType.month" /></option>
        <option value="year"><f:translate key="tx_sf_seolighthouse_showlighthouse.chartsType.year" /></option>
    </select>
</div>
</html>