<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true"></html>
<div class="col-md-3">
    <h4>
        <f:translate key="tx_sf_seolighthouse_showlighthouse.chartsValueType" />
    </h4>
    <select id="valueType-select" class="custom-control custom-select">
        <option value="value"><f:translate key="tx_sf_seolighthouse_showlighthouse.chartsValueType.absolute" /></option>
        <option value="score"><f:translate key="tx_sf_seolighthouse_showlighthouse.chartsValueType.score" /></option>
    </select>
</div>
</html>