<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="col-md-3">
    <h4><f:translate key="tx_sf_seolighthouse_showlighthouse.chartsType" /></h4>
    <select id="type-select" class="custom-control custom-select">
        <option value="line"><f:translate key="tx_sf_seolighthouse_showlighthouse.chartsType.line" /></option>
        <option value="bar"><f:translate key="tx_sf_seolighthouse_showlighthouse.chartsType.bar" /></option>
    </select>
</div>

