<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="col-md-3">
    <h4><f:translate key="tx_sfseolighthouse_domain_model_lighthousestatistics.device" /></h4>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="custom-control custom-radio" >
                    <f:form.radio name="device" id="device1" class="custom-control-input device" value="{f:translate(key: 'tx_sf_seolighthouse_showlighthouse.desktop')}" />
                    <label class="custom-control-label" for="device1">
                        <f:translate key="tx_sf_seolighthouse_showlighthouse.desktop" />
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="custom-control custom-radio" >
                    <f:form.radio name="device" id="device2" class="custom-control-input device" value="{f:translate(key: 'tx_sf_seolighthouse_showlighthouse.mobile')}" />
                    <label class="custom-control-label" for="device2">
                        <f:translate key="tx_sf_seolighthouse_showlighthouse.mobile" />
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
</html>