{namespace core = TYPO3\CMS\Core\ViewHelpers}

<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<div class="chartsEntries">
    <f:for each="{lighthouseStatistics}" as="lighthouseStatistics">
        <div class="entry" 
            data-crdate="<f:format.date format='d.m.Y - H:i'>{lighthouseStatistics.crdate}</f:format.date>"
            data-timestamp="{lighthouseStatistics.crdate}"
            data-target="{lighthouseStatistics.target}"
            data-fcp="{lighthouseStatistics.fcp}"
            data-si="{lighthouseStatistics.si}"
            data-lcp="{lighthouseStatistics.lcp}"
            data-tti="{lighthouseStatistics.tti}"
            data-tbt="{lighthouseStatistics.tbt}"
            data-cls="{lighthouseStatistics.cls}"
            data-fcps="{lighthouseStatistics.fcps}"
            data-sis="{lighthouseStatistics.sis}"
            data-lcps="{lighthouseStatistics.lcps}"
            data-ttis="{lighthouseStatistics.ttis}"
            data-tbts="{lighthouseStatistics.tbts}"
            data-clss="{lighthouseStatistics.clss}"
            data-os="{lighthouseStatistics.os}"
            data-device="{lighthouseStatistics.device}"
        ></div>
    </f:for>
</div>
