$progressColor: #5a5a5a;
$progressBackColor: #ccc;
#typo3-inner-docbody{
    padding:0;
}
.progressBar .counterContainer {
    padding: 0.25em 0.5em;
    display: inline-block;
    width: 100%;
    background: $progressBackColor;
    border-radius: 0.3em;
    position: relative;
    overflow: hidden;
    .counterAmount {
        background: $progressColor;
        min-height: 0.8em;
        min-height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition-duration: 15s;
        &.active{
            width:100%;
        }
    }
}